.register-page {
    form {
        position:absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        background-color: rgba(0, 0, 0, 0.60);
        border-radius:3px;
        padding:70px;
        color: white;
        display: flex;
        flex-direction: column;               
        
        .title{       
            color:#fff;	
            text-transform:uppercase;
            font-size: 16px;
            margin: 10px 0 40px 0;
            display: block;
            text-align: center;  
        }         
        
        label{
            position:relative;
            top:0px;
            left:0px;
            font-size:16px;
            color:#fff;	           
            transition: all 0.5s ease-in-out;
        }
        
        input {
            border:0;
            border-bottom:1px solid #555;  
            background: transparent;
            width:100%;
            padding:8px 0 5px 0;
            font-size:16px;
            color:#fff;     
            outline:none;        
        }      	 

        .register input:focus { 
            border:none;	
            outline:none;
            border-bottom:1px solid #e74c3c;   
                    
        }        
        
    .buttons {        
        display: flex;
        flex-direction: column;
        align-items: center;  
        padding:2rem;
        
        button {
            text-transform: uppercase;
            text-decoration: none;
            background: #ed3330;
            padding: 6px;
            border-radius: 5px;
            display: inline-block;
            border: none;
            transition: all 0.4s ease 0s;
            margin: 1rem;
            width: 11rem;
        }
        
        button:hover {            
            background: #434343;
            letter-spacing: 1px;
            -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
            box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
            transition: all 0.4s ease 0s;                
        }
    } 
    
        span {
            margin-bottom: 2rem;
            font-size: 1.5rem;
            text-align: center;
        }
        
        .background img{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
}


