.comments {
  margin-top:3rem;
   .header {
     display: flex;
     justify-content:center;
     color: white;

  }; 

  .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.5rem;

      .rating__star {
        display: flex;
      }
  };

  // FORM 
  form {   
    .inputs{
      text-align: center;      
      display: flex;
      flex-direction: column;
      align-items: center; 
      margin-bottom: 8rem;
      
      .input__name, .input__title {
        color:white;
        background:transparent;
        border:0;
        border-bottom:1px solid #e74c3c;
        width: 30%;
        padding:8px 0 5px 0;
        -webkit-transition: width 0.5s ease-in-out;
        transition: width 0.5s ease-in-out;   
        font-size: 1.5rem;  
        text-align: center;         
      }   
      
      input:focus {
        width: 40%;
        border:none;	
        outline:none;
        border-bottom:1px solid #e74c3c;      
      }    
    }
    
    span{
      font-size: 2rem;
      margin-top: 20px
    }

    .empty{
      color: white;
    }
    
    textarea {    
      height:auto;
      max-width:600px;
      color:#999;
      font-weight:400;
      font-size:30px;  
      width:150%;
      background:#fff;
      border-radius:3px;
      line-height:2em;
      border:none;
      margin: 2rem;
      box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1);
      padding:1rem 3rem 3rem 1rem;
      -webkit-transition: height 2s ease;
      -moz-transition: height 2s ease;
      -ms-transition: height 2s ease;
      -o-transition: height 2s ease;
      transition: height 2s ease;   
      position: relative;
      right: 6rem;
    }

    .insert__image{
      font-size: 1.3rem;
      color: white;
      display: flex;
    }
    button {
      width: 11rem;
      height: 2.5rem;
      cursor: pointer;
      border: 3px solid;
      border-radius: 50px;
      font-size:25px;
      outline: none;
      margin-top: 1rem;
    }      
  }

  // REVIEWS    
  .reviews {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    border-style: solid;  
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    padding:1rem;
    margin: 3rem 3rem;
    width: 85%;
    margin-bottom: 8rem;
    
    a {
      text-decoration: none;    
    }
        a:hover {
      background: none;
      color: rgb(223, 27, 27);   
      font-size: 1em;
      letter-spacing: 3px;
      line-height: .75em;
    }

    .image{
        display: flex;
        padding: 1rem;

        .text{
          padding: 1rem;
          color:white;
        }

      .image__selected {      
        max-width: 150px;
      }
    }
  }  
}    
    
//STAR
.star {
  cursor: pointer;
  width: 2em;
  height: 2em;  
  background-color: grey;
  -webkit-clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
    );
  
  clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
    );
  }
  
  .star.selected {
    background-color: yellow;
  }
  

  
