.album-details {
    display: flex;
    flex-direction: column;
    align-items: center;

    .details{
        padding: 2rem 0 0 2rem;
    }

    .tracklist {
        padding: 1rem 0 0 4rem;
        
        h2{
            text-align: center;
        }
    }

}